# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
dev-requirements.txt
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Poetry
poetry.lock

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
dev-requirements.txt
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Test assets
/tests/assets/ 